header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

h1 {
  font-size: 2.5rem;
}

.logo {
  font-size: 1.5rem;
}

.hero-box {
  display: grid;
  align-items: center;
  min-height: 70vh;
  text-align: center;
}

figure {
  display: grid;
  place-items: center;
  text-align: center;
}
